= form_for @demot, html: { multipart: true } do |f|
  - if @demot.errors.any?
    #error_explanation
      %h2= "#{pluralize(@demot.errors.count, "error")} prohibited this demot from being saved:"
      %ul
        - @demot.errors.full_messages.each do |msg|
          %li= msg

  .field
    = f.label :title
    = f.text_field :title
  .field
    = f.label :image
    = f.file_field :image
  .field
    = f.label :active
    = f.check_box :active
    - for category in @categories
      = check_box_tag "demots[category_ids][]", "#{category.id}", @demot.categories.include?(category)
      = category.name

  .actions
    = f.submit 'Zapisz'
